



body {
  background-color: whitesmoke;
  margin-bottom: 100px;

}
.header {
      background: linear-gradient(135deg, #F2EFEA, #55524C);
      text-align: center;
      padding: 7rem 2rem 3rem;
      margin: 0;
     
}
.inicio {
h1 {
  font-family: "helvetica", sans-serif;
  color: darkslategray;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 30px;
   text-align: center;
}
h3 {  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 30px;
   text-align: center;}
p {
  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 15px;
   text-align: center;
}

img {
  padding-top: 30px;
  padding-left: 400px;
}
}

.info {

  margin-top: 50px;
  margin-left: 200px;
  
  h2 {
  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 30px;
   text-align: left;
}

p {
  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 15px;
   text-align: left;
}

img {
  float: right;
  margin: 0px 0px 0px 50px;
  padding-right: 300px;
}

  }
.Cornell {
   h1{ font-family: "helvetica", sans-serif;
  color: darkslategray;
  font-size: 40px;
  text-align: center;
padding-top: 50px}

h4 {  font-family: "helvetica", sans-serif;
  color: darkslategray;
   font-size: 15px;
   text-align: center;}
}  